# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Files
**/.DS_Store

# Python
**/__pycache__
.venv

# Becnchmark files
./benchmarks


# CLion
.idea
cmake-build-debug
cmake-build-release

# benchmarks
benchmarks

# mip log
mip.log

# CMake
build/
build_cplex/
build_ortools/
build_cplex_w_lb/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build_cplex_wo_lb/
build_cplex_w_lb_1stage/
build_cplex_w_lb_2stage/
#Build Directories
